$darkTeal: #083030;
$lightTeal: #155454;
$radius: 10px;

@import '_mixin';

body {
	background: $lightTeal;
	font-family: sans-serif;
	color: white;
}

header {
	background: $darkTeal;
	font-family: helvetica, sans-serif;
}

a {
	color: white;
	text-decoration: none;
}

h1 {
	color: #460C22;
	font-style: italic;
}

.container {
	background: $darkTeal;
	@include border-radius(10px);

	.description {
		a {
			text-decoration: underline;
			&:hover {
				color: $lightTeal;
			}
		}
	}
}