body {
	background: #155454;
	font-family: sans-serif;
	color: white;
}

header {
	background: #083030;
	font-family: helvetica, sans-serif;
}

a {
	color: white;
	text-decoration: none;
}

h1 {
	color: #460C22;
	font-style: italic;
}

.container {
	color: #083030;
}
